/packages
/WeatherApp.Services/obj
/WeatherApp.Services/bin
/WeatherApp.Test/obj
/WeatherApp.Test/bin
/WeatherApp.Web/obj
/WeatherApp.Web/bin
/.vs
/WeatherApp.Web/node_modules
/WeatherApp.Web/build
/WeatherApp.Web/index.html
